.card p {
	margin-top: -10px;
	margin-bottom: 1px;
}
.row .card:hover{
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	transform: scale(1.02);
}
.h4{
	font-color: red;
}
.kolom-pesan{
	width: 300px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 5px #ffba08;
    color: #000000;
}
.kolom-pesan h2{
	font-size: 25px;
	margin-bottom: 15px;
}